:root {
    --text: #05151a;
    --background: #ffffff;
    --primary: #59C7EB;
    --secondary: #A6E1F4;
    --accent: #00A9E0;

    --line-color: #E1E2E5;

    --standard-box-shadow: 0 0 182px 0px rgba(0, 0, 0, .2);

    --positive: #00A9E0;
    --negative: #e33467;
    --neutral: #424242;

    --normal-weight: 300;
    --bold-weight: 600;

    --border-radius: 5px;

    --seperator: 1px solid var(--line-color);

    font-size: 21px;
}

@font-face {
    font-family: 'Ubuntu';
    src:
        url("/fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src:
        url("/fonts/Ubuntu/Ubuntu-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Ubuntu';
    src:
        url("/fonts/Ubuntu/Ubuntu-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src:
        local('Ubuntu'),
        url("/fonts/Ubuntu/Ubuntu-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 4px;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-x: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    text-wrap: wrap;

    margin: 0;
}

h1 ~ *:not(h2), h2 ~ *:not(h3), h3 ~ *:not(h4), h4 ~ *:not(h5), h5 ~ *:not(h6) {
    margin-top: 1.4em;
}

p, a, button, h1, h2, h3, h4, h5, h6, li, span {
    color: var(--text);
}

p ~ h1, p ~ h2 {
    margin-top: 3em;
    margin-bottom: .8em;
}

p ~ h3, p ~ h4 {
    margin-top: 2em;
    margin-bottom: .5em;
}

p ~ h5, p ~ h6 {
    margin-top: 1em;
    margin-bottom: .2em;
}

h1 ~ p, h2 ~ p {
    margin-top: .8em;
}

h3 ~ p, h4 ~ p {
    margin-top: .5em;
}

h5 ~ p, h6 ~ p {
    margin-top: .2em;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
}

p, li, a {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.highlight {
  background-color: var(--secondary);
  padding: 4px;
  border: none;
  font-weight: bold;
}

a.pill {
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  margin: 0 5px;
  padding: 2px 5px;
  font-weight: bold;
  z-index: 9999;
}

a.pill.left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid var(--text);
}

a.pill.right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

i {
    font-size: 1.2em;
    color: var(--text);
    margin: 0 0.5em;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    max-height: 70vh;
}

a, button {
    font-weight: var(--bold-weight);
    border: none;
    border-bottom: 2px solid var(--accent);
}

a:hover, button:hover {
    background-color: var(--primary);
}

button, a, p {
    margin-bottom: 1em;
}

a.more {
    margin: 2em 0;
    font-weight: var(--bold-weight);

    background-color: var(--primary);
    border-radius: 4px;
    padding: 1em 2em;
}

a.more:hover {
    box-shadow: 0 0 180px inset rgba(255, 255, 255, .1);
}

a.icon {
    background-color: transparent;
    border: none;
}

a.icon:hover {
    background-color: transparent;
}

.uni-logo {
    width: 100%;
    height: auto;
}

.link-block {
    transition: background-color 0.1s;

    background-color: var(--primary);

    display: block;
    font-weight: var(--bold-weight);
    line-height: 1.5;
    text-align: center;
    padding: 0.3em 0.5em;

    width: 100%;

    border: none;
}

.link-block:hover {
    background-color: var(--secondary);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 2em 1em;
}

form * {
    width: 100%;
}

form input[type=submit] {
    margin-top: 1em;
}

.timeline_container {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 60vh;
}

table.timeline {
  display: table;
  background: white;
  overflow-x: scroll;
  overflow-y: auto;
  width: 100%;
  border-spacing: 1px;
}

table.timeline th, table.timeline td.room {
  background-color: white;
  padding: 4px;
  border: var(--seperator);
}

table.timeline > tbody > tr > :first-child {
  position: sticky;
  left: 0;
  z-index: 400;
  text-align: center;
}

table.timeline > thead, table.timeline > thead > tr > th {
  background-color: var(--background);
  position: sticky;
  top: 0;
  z-index: 401;
}

table.timeline > tbody > td:not(:first-child), table.timeline > thead th.time {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

table.timeline td.event-group {
  position: relative;
  height: fit-content;
  padding: 2px;
}

table.timeline td.event-group div.event {
  position: absolute;
  top: 0px;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px;
  background-color: var(--background);
  border-radius: 2px;
  border: var(--seperator);
  height: 100%;
}

table.timeline td.event-group div.event span {
  width: max-content; /* important for marquee recognition */
  display: inline-block;
}

table.timeline td.event-group div.event.freiraum {
  background-color: var(--primary);
  border: none;
  opacity: 1;
}

table.timeline td.event-group div.event.freiraum span {
  background-color: var(--primary);
  color: var(--text);
}

/* .marquee { */
/*   animation: anim-marquee 15s linear infinite; */
/* } */
/**/
/* @keyframes anim-marquee { */
/*   0% { */
/*     -moz-transform: translateX(0%); */
/*     -webkit-transform: translateX(0%); */
/*     translateX: 0%; */
/*   } */
/**/
/*   50% { */
/*     -moz-transform: translateX(-100%); */
/*     -webkit-transform: translateX(-100%); */
/*     transform: translateX(-100%); */
/*   } */
/*   50.1% { */
/*     -moz-transform: translateX(100%); */
/*     -webkit-transform: translateX(100%); */
/*     transform: translateX(100%); */
/*   } */
/* } */

#timeline #indicator {
  position: absolute;
  height: 100%;
  border-right: 2px solid var(--negative);
  z-index: 1000;
  transform: translateX(-2px); /* Should be hidden from the start */
}

#map {
  width: 100vw;
  max-width: 100%;
  height: 80vh;
}

#rooms:not(.hide) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#rooms .room {
  margin-left: 24px;
  max-width: 400px;
}

#rooms .room table {
  border-spacing: 12px 0;
  margin-top: 0;
}

tr.closed {
  opacity: .1;
}

#ok:not(.hide), #error:not(.hide) {
  width: 100%;
}

#loading {
  border: 8px solid var(--line-color); /* Light grey */
  border-top: 8px solid var(--accent); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide {
  display: none;
}

@media screen and (max-width: 900px) {
    :root {
        font-size: 16px;
    }
}

