---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
import Test from "../components/Test.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
  <body>
    <Header />
    <Main>
      <Test />
    </Main>
    <Footer />
	</body>
</html>
