---
import Toolbar from './toolbar/Toolbar.astro';
---
<div class="card">
  <Toolbar>
    <slot name="toolbar" />
  </Toolbar>
  <div class="card-body">
    <slot name="body" />
  </div>
<div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 1em;
  }

  .card-body {
    display: flex;
    flex-direction: column;
	  border-radius: var(--border-radius);
	  padding: 2em;
    width: 100%;
    min-height: 60vh;
	  box-shadow: var(--standard-box-shadow);
  }

  .card-body > h1, .card-body > h2, .card-body > h3, .card-body > h4, .card-body > h5, .card-body > h6 {
      margin-top: 0;
  }
  
  @media screen and (max-width: 900px) {
    .card-body {
      margin: 0;
      padding: 1em;
    }
  }
</style>
