<footer>
    <p>Mit Liebe gemacht von der <a href="https://www.stuve.uni-konstanz.de/kontakt/stuve-it/" target="_blank">StuVe IT</a></p>
    <div>
        <a href="https://www.stuve-uni-kn.de/datenschutzerklaerung/">Datenschutzerklärung</a>
        <a href="https://www.stuve-uni-kn.de/impressum-und-haftungsausschluss/">Impressum</a>
    </div>
</footer>

<style>
footer {
    margin-top: 2rem;
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: var(--standard-box-shadow);
    width: 100%;
}

footer .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
</style>
