---
import NavigationBar from './NavigationBar.astro';
import Card from './Card.astro';
---
<NavigationBar />

<Card>
  <div id="content">
</Card>
  
</div>

<script type="module">
  import { fetchAvailable } from '/js/room_events.js';
  import { TimelineUI } from "/js/timeline.js";
  
  const content_elem = document.getElementById("content");
  const timeline = new TimelineUI();

  function displayUnreachable() {
    content_elem = `⚠️ Dein Browser konnte keine Anfrage an <a href="134.34.26.182">RoomRes</a> stellen. Das kann folgende Gründe haben: 
    <ul>
      <li>Du bist nicht im Uni-Netz. Falls du dich nicht an der Uni Konstanz aufhälst, kannst du ein VPN benutzen (Siehe: <a href="https://www.kim.uni-konstanz.de/e-mail-und-internet/eduvpn/">KIM Website</a>)</li>
      <li>Dein Browser upgraded deine HTTP Verbindung zu HTTPS. RoomRes ist gerade nur unter dem HTTP Protokoll erreichbar --- wir arbeiten mit dem KIM zusammen, um das zu verbessern</li>
      <li>RoomRes ist gerade nicht erreichbar</li>
    </ul>`;
  }

  function display(elem) {
    const date_picker = document.createElement('input');
    date_picker.style = "width: 100%";
    date_picker.type = "date";
    date_picker.id = "date-picker";

    content_elem.innerHTML = date_picker.outerHTML + elem.outerHTML;
  }

  function update(new_date) {
    fetchAvailable(new_date).then(roomsWithEvents => {
      display(timeline.display(roomsWithEvents));
      setInterval(timeline.updateIndicator(), 60000);
    }).catch((error) => {
      console.error(error);
      displayUnreachable();
    });
  }
  update();
</script>
